.statistics{
    background: rgba(152, 127, 200, 0.3);
    text-align: center;
    padding: 60px;
    font-size: 15px;
    border-radius: 5px;
}

.title{
    color: rgba(26, 26, 27, 0.7);
    font-weight: 500;
    background-color: white;
    padding: 30px 70px;
    margin-bottom: 0px;
    border-radius: 5px 5px 0 0;
}

.stat-list{
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    border-radius: 0 0 6px 6px;
    box-shadow: 5px 5px 5px 1px rgba(166, 170, 177, 0.307);
}

.item{
    display: flex;
    flex-direction: column;
    background: rgba(240, 242, 245, 0.932);
    padding: 15px;
    color: white;
}

.item:nth-child(1) {
    background-color: rgba(27, 193, 235, 0.503);
    border-right: 1px solid rgba(27, 193, 235, 0.1);
}

.item:nth-child(2) {
    background-color: rgba(112, 11, 220, 0.542);
    border-right: 1px solid rgba(27, 193, 235, 0.1);
}

.item:nth-child(3) {
    background-color: rgba(233, 60, 37, 0.825);
    border-right: 1px solid rgba(27, 193, 235, 0.1);
}

.item:nth-child(4) {
    background-color: rgba(27, 235, 34, 0.503);
    border-right: 1px solid rgba(27, 193, 235, 0.1);
}

.item:nth-child(5) {
    background-color: orange;
}

  .label{
    font-size: 13px;
    margin-bottom: 5px;
  }

  .percentage{
    font-size: 20px;
    font-weight: 500;
  }